.qr-container {
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

.qr-input {
  padding: 20px 30px;
  font-size: 25px;
  margin-bottom: 20px;
  border-radius: 25px;
  color: grey;
  outline: none;
}

.qr-box {
  position: relative;

  font-weight: bold;
  font-family: "Press Start 2P", sans-serif;
  color: black;
  background-color: white;
  border-radius: 10px;
  //   border: 2px solid black;
}

.qr-text-top {
  position: absolute;
  top: 0px; /* Position relative to square height */
  rotate: 180deg;
}

.qr-text-bottom {
  position: absolute;
  bottom: 0px; /* Position relative to square height */
  left: 0px;
}

.qr-text-left {
  position: absolute;
  bottom: 0px; /* Start at the top of the square */
  left: 0px; /* Position relative to square width */
  writing-mode: vertical-rl;
}

.qr-text-right {
  position: absolute;
  writing-mode: vertical-rl;
  bottom: 0px;
  right: 0px;
}

.qr-download-buttons {
  margin-top: 20px;
}

button {
  margin-right: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #649de2;
  color: white;
}
